<div id="form-update">
  <form action="/update" method="POST" id="form-create-product">
    <input type="hidden" id="MA_SP" name="MA_SP" value="{{product.MA_SP}}" />
    <label for="TEN_SP">Tên sản phẩm</label>
    <input
      type="text"
      class="form-control"
      id="TEN_SP"
      name="TEN_SP"
      placeholder="Tên sản phẩm"
      value="{{product.TEN_SP}}"
    />
    <br />
    <label for="LOAI_SP">Loại sản phẩm</label>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="LOAI_SP"
        id="loai1"
        value="RAU"
        checked
      />
      <label class="form-check-label" for="loai1">
        Rau
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="LOAI_SP"
        id="loai2"
        value="THỊT"
      />
      <label class="form-check-label" for="loai2">
        Thịt
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="LOAI_SP"
        id="loai3"
        value="THỰC PHẨM ĐÓNG HỘP"
      />
      <label class="form-check-label" for="loai3">
        Thực phẩm đóng hộp
      </label>
    </div>
    <br />
    <label for="GIA_SP">Giá sản phẩm</label>
    <input
      type="number"
      class="form-control"
      id="GIA_SP"
      name="GIA_SP"
      placeholder="Giá sản phẩm"
      value="{{product.GIA_SP}}"
    />
    <br />
    <label for="SL_CON_LAI">Số lượng còn lại</label>
    <input
      type="number"
      class="form-control"
      id="SL_CON_LAI"
      name="SL_CON_LAI"
      placeholder="Số lượng còn lại"
      value="{{product.SL_CON_LAI}}"
    />
    <br />
    <label for="MO_TA">Mô tả</label>
    <textarea
      class="form-control"
      rows="5"
      id="MO_TA"
      name="MO_TA"
    >{{product.MO_TA}}</textarea>
    <br />
    {{!-- <label for="ANH">Ảnh sản phẩm</label>
    <input
      type="file"
      class="form-control-file"
      id="ANH"
      name="ANH"
      value="{{product.ANH}}"
    /> --}}
    <label for="ANH">Ảnh sản phẩm</label>
    <input
      type="text"
      class="form-control"
      id="ANH"
      name="ANH"
      placeholder="Tên sản phẩm"
      value="{{product.ANH}}"
      onclick="changeImg()"
      onkeyup="changeImg()"
      onchange="changeImg()"
    />
    <img id="img-product" src="" alt="" />
    <br />
    <br />
    <button type="submit" class="btn btn-primary full-width">Cập nhật sản phẩm</button>
  </form>
  <script>
    var changeImg = () => { document.getElementById("img-product").src =
    document.getElementById("ANH").value }
  </script>
</div>